In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('diabetes.csv')

In [3]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
df = df.rename(columns={'DiabetesPedigreeFunction' : 'DPF'})

In [5]:
df

     Pregnancies  Glucose  BloodPressure  ...    DPF  Age  Outcome
0              6      148             72  ...  0.627   50        1
1              1       85             66  ...  0.351   31        0
2              8      183             64  ...  0.672   32        1
3              1       89             66  ...  0.167   21        0
4              0      137             40  ...  2.288   33        1
..           ...      ...            ...  ...    ...  ...      ...
763           10      101             76  ...  0.171   63        0
764            2      122             70  ...  0.340   27        0
765            5      121             72  ...  0.245   30        0
766            1      126             60  ...  0.349   47        1
767            1       93             70  ...  0.315   23        0

[768 rows x 9 columns]

In [6]:
df_copy = df.copy(deep=True)

In [7]:
df_copy['Glucose'] = df_copy['Glucose'].replace(0,np.NaN)
df_copy['BloodPressure'] = df_copy['BloodPressure'].replace(0,np.NaN)
df_copy['SkinThickness'] = df_copy['SkinThickness'].replace(0,np.NaN)
df_copy['Insulin'] = df_copy['Insulin'].replace(0,np.NaN)
df_copy['BMI'] = df_copy['BMI'].replace(0,np.NaN)

In [8]:
df_copy.head()

   Pregnancies  Glucose  BloodPressure  ...    DPF  Age  Outcome
0            6    148.0           72.0  ...  0.627   50        1
1            1     85.0           66.0  ...  0.351   31        0
2            8    183.0           64.0  ...  0.672   32        1
3            1     89.0           66.0  ...  0.167   21        0
4            0    137.0           40.0  ...  2.288   33        1

[5 rows x 9 columns]

In [9]:
df_copy.isnull().sum()

Pregnancies        0
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
DPF                0
Age                0
Outcome            0
dtype: int64

In [10]:
df_copy['Glucose'].fillna(df_copy['Glucose'].mean(),inplace=True)
df_copy['BloodPressure'].fillna(df_copy['BloodPressure'].mean(),inplace=True)
df_copy['SkinThickness'].fillna(df_copy['SkinThickness'].mean(),inplace=True)
df_copy['Insulin'].fillna(df_copy['Insulin'].median(),inplace=True)
df_copy['BMI'].fillna(df_copy['BMI'].median(),inplace=True)

In [11]:
df_copy.isnull().sum()

Pregnancies      0
Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
DPF              0
Age              0
Outcome          0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = df_copy.drop(columns='Outcome')
y = df_copy['Outcome']

In [14]:
X.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI    DPF  Age
0            6    148.0           72.0  ...  33.6  0.627   50
1            1     85.0           66.0  ...  26.6  0.351   31
2            8    183.0           64.0  ...  23.3  0.672   32
3            1     89.0           66.0  ...  28.1  0.167   21
4            0    137.0           40.0  ...  43.1  2.288   33

[5 rows x 8 columns]

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20,random_state = 42)

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
clf = RandomForestClassifier()

In [18]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
pred = clf.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [21]:

accuracy_score(y_test,pred)

0.7727272727272727

In [22]:
confusion_matrix(y_test,pred)

array([[81, 18],
       [17, 38]])

In [24]:
filename = 'finalized_model.pkl'
pickle.dump(clf, open(filename, 'wb'))